#h1 {
  font-weight: bolder;
  font-size: 40px;
}

#d {
  background-color: #eef8f3;
}

.navbar-nav.mr-auto {
  align-items: center;
  margin-left: 250px;
}

.navbar-text {
  margin-right: 20px;
}

#span1 {
  font-weight: 700;
  color: #000;
}

#span2 {
  font-weight: 700;
  color: #5cb163;
}

#link {
  font-weight: 700;
  color: #878282;
  margin-right: 40px;
}
